<!DOCTYPE html>
<html>

<head>
    <title>Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div style="display:flex; justify-content:space-between;">
        <h3>Library Management System</h3>
        {% if request.path not in ['/login', '/register'] %}
        <a href="/logout" style="color:red;">Logout</a>
        {% endif %}
    </div>

    <hr>

    {% for msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
    {% endfor %}

    {% block content %}{% endblock %}
</body>

</html>